<html>
<head>
	<meta charset="iso-8559-1"/>
	<meta name="description content-"Equipo de robotica ENMSS"/>
	<meta name="keywords" content="Robotica prepa oficial de salamanca"/>

    <title> BEE HIGH </title>
    <!-- <link rel="stylesheet" href="estiloiniciob.css"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='estiloiniciob.css') }}"/>
    <link rel="stylesheet" href="../static/estiloiniciob.css"/>
    
</head>
<body>
	<header>
        <section id="logo">
            <!-- <img src="im/docientospix.png"" alt="logobeehigh"/> -->
            <!-- <img src="im/beehigh-nego.png"" alt="espiral ADN"/> -->
            <img src="../im/beehigh-nego.png" alt="espiral ADN"/>
            
        </section>
		<nav>
			<ul>
				<li><a href="#">Programas</a></li>
                <li><a href="#">Competencias</a></li>
                <li><a href="#">Fotos</a></li>
                <li><a href="#">Inicio de sesion</a></li>
            </ul>
            <a class="boton" href="#"><button>Registro</button></a>
        </nav>
        
        <!-- <a class="boton" href="#"><button>Registro</button></a> -->
    </header>
    <section>
    </section>
    <footer>
    </footer>
</body>
</html>
